div.cultura-box {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;

  flex: 1;
}

div.cultura-box img {
  width: 14vh;
  margin-block: 1vh;
}

div.cultura-box p {
  font-weight: 100;
  margin: 0;
}
