div.service {
    display: block;
    margin: auto;
    border-radius: 3vh;

    width: 250px;
    height: 220px;
}

div.service img.showcase-image {
    width: 100%;
    height: 100%;
    border-radius: 3vh;

    object-fit: cover;
}

div.service:hover > div.hover {
    opacity: 100%;
}

div.service div.hover {
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);

    width: 250px;
    height: 220px;

    margin-top: -225px;
    border-radius: 3vh;

    opacity: 0%;
    transition: 0.2s all;

    position: absolute;
}

div.service div.hover img {
    width: 5vh;
    transition: 0.2s all;
}

div.service div.hover img:hover {
    cursor: pointer;
    transform: scale(1.1);
}