section.services-section {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100vw;
    padding-block: 8vh;

    background-color: var(--cinza);
}

section.services-section div.content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 80vw;
}

section.services-section div.content h1 {
    text-align: center;
}

div.servicos-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    row-gap: 5vh;
    column-gap: 2vh;

    margin-top: 5vh;

    width: 100%;
}

section.services-section button {
    border: 0.2vh solid var(--azulmain);
    border-radius: 3vh;

    background: transparent;

    padding: 2vh 5vh;
    color: var(--azulmain);

    font-size: 3.5vh;

    margin-block: 10vh 5vh;
    outline: none;

    transition: 0.2s all;
    cursor: pointer;
}

section.services-section button:hover {
    background-color: var(--azulmain);
    color: white;
    font-weight: bold;
}

section.services-section button span {
    color: var(--verdemusgo);
    font-weight: bold;
    font-size: 4vh;
}