section.faq {
  display: flex;
  flex-direction: column;

  background-color: rgb(255, 250, 244);

  width: 100%;
  margin-bottom: 10.2vh;
}

div.perguntas-wrapper {
  display: flex;
  flex-direction: column;

  width: 80vw;

  margin-inline: auto;
}
