section.faq {
  display: flex;
  flex-direction: column;

  background-color: var(--verdeclaro);

  width: 100%;
  margin-bottom: 10.2vh;
}

section.faq h1 {
  text-align: center;
}

div.perguntas-wrapper {
  display: flex;
  flex-direction: column;

  width: 80vw;

  margin-inline: auto;
}
