section.desc-section {
  display: flex;

  width: 100vw;
  height: fit-content;
}

section.desc-section div.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  row-gap: 5vh;

  width: 87vw;
}

/* MAIN-CONTENT-WRAPPER */

section.desc-section div.main-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding-block: 10vh;

  justify-content: center;
}

section.desc-section div.main-content-wrapper div.content {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100%;
}

/* CONTENT-WRAPPER */

section.desc-section div.content-wrapper {
  display: flex;
  flex: 2;
}

section.desc-section div.content-wrapper.justify {
  flex-direction: column;

  flex: 1;
  justify-content: space-between;
  padding-left: 4vh;
  height: 100%;
}

section.desc-section div.content-wrapper img {
  margin-top: 5vh;
  width: fit-content;
  height: 100%;
}

section.desc-section div.content-wrapper.justify p {
  color: var(--azulmain);
  font-size: 3.5vmin;
  font-weight: 500;

  margin-block: 3vh;
}

@media screen and (max-width: 920px) {
  section.desc-section div.content-wrapper {
    flex-direction: column;

    width: 100%;
    height: fit-content;

    justify-content: center;
    align-items: center;

    margin: auto;
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  section.desc-section {
    flex-direction: column;
  }

  section.desc-section div.main-content-wrapper {
    flex-direction: column;
    height: fit-content;
    padding-block: 15vh 10vh;

    justify-content: center;
    align-items: center;
  }

  section.desc-section div.main-content-wrapper div.content {
    flex-direction: column;
  }

  section.desc-section div.content-wrapper.justify {
    width: 100%;
    justify-content: center;
    padding-left: 0;
    margin: auto;
    margin-block: 4vh;
  }

  section.desc-section div.content-wrapper img {
    display: none;
  }

  section.desc-section div.content-wrapper h1 {
    text-align: center;
  }

  section.desc-section div.content-wrapper.justify p {
    font-size: 3.5vh;
    margin-block: 3vh;
    text-align: center;

    width: 80%;
  }
}

section.desc-section div.box-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  max-width: 50%;
}

@media screen and (max-width: 920px) {
  section.desc-section div.box-container {
    min-width: 80%;
  }
}
