div.contact-box {
    display: flex;

    align-items: center;

    min-width: fit-content;

    padding-left: 2vh;
    width: 100%;

    height: 100%;

    background-color: var(--verdemusgo);

    border-radius: 3rem;
    overflow: hidden;

    flex: 1;
}

div.contact-box div {
    display: flex;
    
    justify-content: center;
    align-items: center;
}

div.contact-box img {
    width: 6vh;
    margin-right: 2vh;
}

div.contact-box p {
    font-size: 2.9vh;
    font-family: "Avenir Next Bold", sans-serif;

    max-width: 100%;

    text-align: center;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    div.contact-box {
        padding-block: 2vh;
    }
    div.contact-box p {
        font-size: 2.4vh;
    }
}