div.box {
    padding: 4vh 3vh;
    border-radius: 3vh;

    min-width: fit-content;
    
    color: white;

    margin: 3vh;

    box-shadow: 2vh 1vh 8vh rgba(0, 0, 0, 0.452);
    box-sizing: border-box;
}

div.box h3,p {
    color: inherit;
}

div.box h3 {
    font-family: "Avenir Next Bold", sans-serif;
    font-size: 3vh;
    text-transform: uppercase;
}

div.box p {
    font-size: 3vh;
}

div.box.blue {
    background-color: var(--azulmain);
}

div.box.yellow {
    background-color: var(--verdeclaro);
    color: var(--azulmain);
}

div.box.green {
    background-color: var(--verdemusgo);
    max-width: 100%;
}

div.box.green ul {
    list-style: disc;
    margin-left: 3vh;
}

@media screen and (max-width: 768px) {
    div.box {
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        margin-block: 3vh;
    }
}