.marrom.label {
  color: #67462e;
}

.marrom.background {
  background-color: #67462e !important;
}

.verde.label {
  color: #698434;
}

.verde.background {
  background-color: #698434 !important;
}

.cinza.label {
  color: #e5e6e7;
}

.cinza.background {
  background-color: #e5e6e7 !important;
}
