div.passo-box {
  display: flex;
  flex-direction: column;

  padding: 4vh;
  padding-bottom: 10vh;

  width: 34vw;
  border-radius: 4vh;
}

div.passo-box img {
  margin-top: -10vh;
  align-self: center;
  width: 15vh;
}

div.passo-box h1 {
  text-align: start;
  font-size: 5vh;
}

@media screen and (max-width: 768px) {
  div.passo-box {
    margin-inline: 0;
    width: 90%;
  }
}
